.card {
  height: 200px;
  width: 200px;
  background-color: #CB4C4F;
  display: inline-block;
  margin: 10px;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 20px;
}

.delete {
  width: 100px;
  margin-top: 150px;
}

.remove {
  visibility: none;
}